<div class="welcome-banner">
  <div class="welcome-content">
    <h2>Encuentra  gasolina en Chihuahua</h2>
    <ul class="list-buttons">
      <li><button class="list-button">Ver gasolineras</button></li>
      <li><button class="list-button">Reportar gasolinera</button></li>
    </ul>
  </div>
</div>
