<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <%= link_to(root_path) do %>
        <strong class="korima-title">KorimaGAS</strong>
      <% end %>
    </div>
  </div>
</header>
