<header>
  <div class="top-bar">

    <div class="top-bar-left">
      <strong>Mad MAX CUU</strong>
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button>
        </span>
      </div>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-left">

      </div>
      <div class="top-bar-right">
      </div>
    </div>
  </div>
</header>
